USE [master]
GO
/****** Object:  Database [QLBHHDRadio]    Script Date: 8/21/2023 4:33:42 PM ******/
CREATE DATABASE [QLBHHDRadio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBHHDRadio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLBHHDRadio.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBHHDRadio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLBHHDRadio_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBHHDRadio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBHHDRadio]
GO
/****** Object:  Table [dbo].[Danhgia]    Script Date: 8/21/2023 4:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Danhgia](
	[Tenkh] [nvarchar](255) NOT NULL,
	[Tenhh] [int] NOT NULL,
	[Chatluong] [nvarchar](255) NOT NULL,
	[Gopy] [nvarchar](500) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hanghoa]    Script Date: 8/21/2023 4:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hanghoa](
	[Mahang] [int] NOT NULL,
	[Tenhang] [nvarchar](255) NOT NULL,
	[Loai] [int] NOT NULL,
	[Dongia] [float] NOT NULL,
	[Dongiakm] [float] NOT NULL,
	[Anh] [nvarchar](255) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hoadons]    Script Date: 8/21/2023 4:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoadons](
	[Mahd] [int] NOT NULL,
	[Tenhh] [int] NOT NULL,
	[Soluong] [float] NOT NULL,
	[Tenkh] [nvarchar](255) NOT NULL,
	[Sodt] [nvarchar](255) NOT NULL,
	[Diachi] [nvarchar](255) NOT NULL,
	[Thanhtien] [float] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Loai]    Script Date: 8/21/2023 4:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai](
	[Ma] [int] NOT NULL,
	[Tenloai] [nvarchar](255) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Logins]    Script Date: 8/21/2023 4:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logins](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
